{% load static %}
<section class="section-post">

    {% if is_user %}

        <div class="post__context-menu">

            <button type="button" class="button button--small button--invisible" data-modal-actions-target="#context-menu-for-post-{{ post.id }}">
                <svg class="icon icon-24">
                    <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-dots-vertical-rounded"></use>
                </svg>
            </button>

            <div class="context-menu" id="context-menu-for-post-{{ post.id }}">

                <ul class="context-menu__list">

                    <li class="context-menu__item">
                        <a href="{% url 'app:post-update-view' slug=post.slug %}" class="link link--small">
                            <svg class="icon icon-24">
                                <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-edit"></use>
                            </svg>
                            <span>Update</span>
                        </a>
                    </li>

                    <li class="context-menu__item">
                        <form action="{% url 'app:post-delete-view' slug=post.slug %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="button button--small button--invisible-danger">
                                <svg class="icon icon-24">
                                    <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-trash"></use>
                                </svg>
                                <span>Delete</span>
                            </form>
                        </button>
                    </li>

                </ul>
    
            </div>

        </div>

    {% endif %}

    <figure class="post__featured-image">
        <div class="post__wrapper-featured-image">
            <img
                src="{{ post.featured_image }}"
                alt="{{ post.title }}"
                class="img" />
        </div>
        <figcaption class="post__featured-image-figcaption text-small">"{{ post.title }}"</figcaption>
    </figure>

    <div class="post__container">
        <h1 class="post__title heading-1">{{ post.title }}</h1>

        <span class="post__date">Published on {{ post.date_created | date }}</span>

        <div class="post__content text-large">{{ post.content }}</div>

        <div class="post__tags">
            {% for tag in post.tags.all %}
            <a
                href="{{ tag.get_absolute_url }}"
                class="post__tag link link--text">
                #{{ tag }}
            </a>
            {% endfor %}
        </div>
    </div>
</section>
