{% for post in posts %}
<article class="article-card" id="#post_{{ post.id }}">
    <div class="article-card__content">
        <div class="article-card__author">
            <a href="post.creator_profile.get_absolute_url text-s mb-16">
            <div class="article-card__author__profile-img">
                <img 
                class="img"
                src="{{post.creator_profile.profile_image}}" 
                alt="{{post.creator_profile.user.first_name}} {{post.creator_profile.user.last_name}}">
            </div>
                {{post.creator_profile.user.first_name}} 
                {{post.creator_profile.user.last_name}}
            </a>
        </div>
        <h3 class="heading-2 mb-8">{{post.title}}</h3>
        <div class="article-card__date-created text-s mb-16">
            {{post.date_created}}
        </div>
        <p class="text-l mb-16">{{post.excerpt}}</p>
        <div class="article-card__tags mb-32">
            {% for tag in post.tags.all %}
            <a
                href="tag.get_absolute_url"
                class="article-card__tag text-s">
                #{{tag}}
            </a>
            {% endfor %}
        </div>
        <a
            href="{{post.get_absolute_url}}"
            class="btn">
            Start reading
        </a>
    </div>
    <figure class="article-card__featured-image">
        <img
            class="img"
            src="{{post.featured_image}}"
            alt="{{post.title}}" />
    </figure>
</article>
{% endfor %}

<div class="container-pagination">
    <span>
        {% if page_obj.has_previous %}
        {% if page_obj.previous_page_number is not 1 %}
        <a
            href="?page=1"
            class="container-pagination__link">
            First
        </a>
        {% endif %}
        <a
            href="?page{{ page_obj.previous_page_number }}"
            class="container-pagination__link">
            {{ page_obj.previous_page_number }}
        </a>
        {% endif %}

        <span class="current">{{ page_obj.number }}</span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </span>
</div>
