{% extends 'app/includes/layout/modals/modal_window/base/_modal_window.html' %}

{% block modal_window_id %}modal-window-followers{% endblock modal_window_id %}
{% block modal_window_classes %}modal-window--founf{% endblock modal_window_classes %}
{% block modal_window_content_classes %}modal-window__content--founf{% endblock modal_window_content_classes %}

{% block title %}Followers{% endblock title %}

{% block content %}
    {% for follower in member.profile.followers.all %}
        {% with member=follower.user %}
            {% include 'app/includes/forms/_user_follow_or_unfollow_form.html' %}
        {% endwith %}
    {% endfor %}
{% endblock content %}