{% extends 'app/base/public/base.html' %}
{% load static %}

{% block title %}Sign up{% endblock title %}

{% block head %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'app/pages/public/account/sign_up/sign_up.css' %}" />
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'app/includes/form/form.css' %}" />
{% endblock head %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="container__form">
            <div class="container__form__box bg--flash">
                <a href="{% url 'app:public-index' %}" class="brand mb-16">StoryShare</a>
                <p class="text-l">Sign up to share your words of wisdom, lessons learned and advice with people around the world.</p>
                <hr>
                {% include 'app/includes/form/form_sign_up.html' %}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="container__form__box bg--flash">
                <span>
                    Already have an account?
                    <a href="{% url 'app:public-sign-in' %}">Sign in</a>
                </span>
            </div>
        </div>
    </div>
</section>
{% endblock body %}
