{% load static %}
<div
    class="modal-window {% block modal_window_classes %}{% endblock modal_window_classes %}"
    id="{% block modal_window_id %}{% endblock modal_window_id %}">
    <div class="modal-window__header">
        <span class="heading-3">{% block title %}{% endblock title %}</span>
        <button
            type="button"
            class="button button--small button--invisible-danger"
            data-button-close>
            <svg class="icon icon-24">
                <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-x-circle"></use>
            </svg>
        </button>
    </div>

    <div class="modal-window__content {% block modal_window_content_classes %}{% endblock modal_window_content_classes %}">{% block content %}{% endblock content %}</div>
</div>
