<div class="pagination">
    {% if page_obj.has_previous %} 
    
        {% if page_obj.previous_page_number is not 1 %}

        <a
            href="?{{ params }}page=1"
            class="pagination__page-link link link--text">
            First
        </a>

        {% endif %}

    <a
        href="?{{ params }}page{{ page_obj.previous_page_number }}"
        class="pagination__page-link link link--text">
        {{ page_obj.previous_page_number }}
    </a>

    {% endif %}

    <span class="pagination__page-link pagination__page-link--current">{{ page_obj.number }}</span>

    {% if page_obj.has_next %}

    <a
        href="?{{ params }}page={{ page_obj.next_page_number }}"
        class="pagination__page-link link link--text">
        {{ page_obj.next_page_number }}
    </a>

        {% if page_obj.paginator.num_pages > 2 %}
        
            <a
                href="?{{ params }}page={{ page_obj.paginator.num_pages }}"
                class="pagination__page-link link link--text">
                Last
            </a>
        
        {% endif %}

    {% endif %}
</div>
