{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <title>StoryShare • {% block title %}{% endblock title %}</title>

        <!-- FONTS -->
        <link
            rel="preconnect"
            href="https://fonts.googleapis.com" />
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Space+Grotesk:wght@400;700&display=swap"
            rel="stylesheet" />

        <!-- STYLES -->
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'app/base/variables.css' %}" />

        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'app/base/base.css' %}" />

        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'app/base/typography.css' %}" />

        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'app/base/utilities.css' %}" />

        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'app/base/private/layout/layout.css' %}" />

        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'app/base/private/includes/header/header.css' %}" />

        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'app/base/private/includes/footer/footer.css' %}" />

        <!-- EXTRA HEAD -->
        {% block head %}{% endblock head %}
    </head>
    <body>
        <div class="container-page">
            {% include 'app/base/private/includes/header/header.html' %}

            <div class="container-content">
                <main class="main">{% block body %}{% endblock body %}</main>

                {% include 'app/base/private/includes/footer/footer.html' %}
            </div>
        </div>

        <!-- JAVASCRIPT -->
        <script src="{% static 'app/base/private/includes/header/header.js' %}"></script>

        <!-- EXTRA JAVASCRIPT -->
        {% block script %}{% endblock script %}
    </body>
</html>
