{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8" />
        
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge" />
        
            <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        
            <title>
                StoryShare • 
                {% block title %}{% endblock title %}
            </title>

        <!-- FONTS -->
        <link
            rel="preconnect"
            href="https://fonts.googleapis.com" />
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Space+Grotesk:wght@400;700&display=swap"
            rel="stylesheet" />

        <!-- STYLES -->
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'app/base/base.css' %}" />

        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'app/base/includes/layout/styles.css' %}" />

        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'app/base/includes/header/style.css' %}" />

        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'app/base/includes/footer/style.css' %}" />

        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'app/includes/member/profile/misc/card_member/style.css' %}" />

        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'app/includes/misc/modal/modal_window/style.css' %}" />

        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'app/includes/member/form/style.css' %}" />

        <!-- EXTRA HEAD -->
        {% block head %}{% endblock head %}

    </head>

    <body>
        <div class="app">

            {% include 'app/base/private/includes/header.html' %}

            <div class="app__container">

                <main class="main">

                    <header class="main__header">

                        {% block main_header %}{% endblock main_header %}

                    </header>

                    <div class="main__content">

                        {% block main_content %}{% endblock main_content %}

                    </div>
                    
                </main>

                {% include 'app/base/private/includes/footer.html' %}

            </div>

        </div>

        <div id="modal-overlay" class="modal-overlay"></div>
        <!-- JAVASCRIPT -->
        <script src="{% static 'app/base/includes/header/index.js' %}"></script>
        <script src="{% static 'app/includes/misc/modal/modal_window/index.js' %}"></script>

        <!-- EXTRA JAVASCRIPT -->
        {% block script %}{% endblock script %}

    </body>
</html>