{% extends 'app/components/base.html' %}
{% block title%}Index{% endblock title%}

{% block body %}
<section
    id="creator"
    class="mb-5">
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container d-flex flex-row flex-wrap justify-content-center align-items-top">
                <div
                    class="ratio ratio-1x1 rounded-circle overflow-hidden m-4"
                    style="max-width: 11rem; max-height: 11rem">
                    <img
                        class="img-fluid"
                        style="max-width: 100%; height: auto"
                        src="{{creator_profile.profile_image}}"
                        alt="{{creator_profile.profile_image}}" />
                </div>
                <div
                    class="m-4"
                    style="max-width: 60%">
                    <h1 class="display-4">{{creator_profile.user.first_name}} {{creator_profile.user.last_name}}</h1>
                    <small class="text-muted d-block">{{creator_profile.user.username}} joined {{creator_profile.date_created}}</small>
                    <div class="d-block mt-4">
                        <button
                            type="button"
                            class="btn btn-dark m-1">
                            {{creator_profile.posts.all | length}} STORIES
                        </button>
                        <button
                            type="button"
                            class="btn btn-light border border-dark m-1"
                            data-bs-toggle="modal"
                            data-bs-target="#follows">
                            {{creator_profile.followers.all | length}} FOLLOWERS
                        </button>
                        <div
                            class="modal fade"
                            id="follows"
                            tabindex="-1"
                            aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1
                                            class="modal-title fs-5"
                                            id="exampleModalLabel">
                                            {{creator_profile.followers.all | length}} FOLLOWERS
                                        </h1>
                                        <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {% for follower in creator_profile.followers.all %}
                                        <div
                                            class="card mb-3"
                                            onclick="window.location='{{follower.get_absolute_url}}'"
                                            role="button">
                                            <div
                                                class="d-flex flex-row flex-wrap justify-content-center align-items-center"
                                                style="width: 100%">
                                                <div
                                                    class="ratio ratio-1x1 rounded-circle overflow-hidden"
                                                    style="max-width: 3rem; max-height: 3rem">
                                                    <img
                                                        class="img-fluid"
                                                        style="max-width: 100%; height: auto"
                                                        src="{{follower.profile_image}}"
                                                        alt="{{follower.profile_image}}" />
                                                </div>
                                                <div
                                                    class=""
                                                    style="max-width: 60%">
                                                    <div class="card-body">
                                                        <h6 class="card-title">{{follower.user.first_name}} {{follower.user.last_name}}</h6>
                                                        <p class="card-text">@{{follower.user.username}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button
                                            type="button"
                                            class="btn btn-secondary"
                                            data-bs-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button
                            type="button"
                            class="btn btn-light border-dark m-1"
                            data-bs-toggle="modal"
                            data-bs-target="#following">
                            {{creator_profile.following.all | length}} FOLLOWING
                        </button>
                        <div
                            class="modal fade"
                            id="following"
                            tabindex="-1"
                            aria-labelledby="following"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1
                                            class="modal-title fs-5"
                                            id="exampleModalLabel">
                                            {{creator_profile.following.all | length}} FOLLOWING
                                        </h1>
                                        <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {% for follower in creator_profile.following.all %}
                                        <div
                                            class="card mb-3"
                                            onclick="window.location='{{follower.get_absolute_url}}'"
                                            role="button">
                                            <div
                                                class="d-flex flex-row flex-wrap justify-content-center align-items-center"
                                                style="width: 100%">
                                                <div
                                                    class="ratio ratio-1x1 rounded-circle overflow-hidden"
                                                    style="max-width: 3rem; max-height: 3rem">
                                                    <img
                                                        class="img-fluid"
                                                        style="max-width: 100%; height: auto"
                                                        src="{{follower.profile_image}}"
                                                        alt="{{follower.profile_image}}" />
                                                </div>
                                                <div
                                                    class=""
                                                    style="max-width: 60%">
                                                    <div class="card-body">
                                                        <h6 class="card-title">{{follower.user.first_name}} {{follower.user.last_name}}</h6>
                                                        <p class="card-text">@{{follower.user.username}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button
                                            type="button"
                                            class="btn btn-secondary"
                                            data-bs-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="lead mt-4">{{creator_profile.description}}</p>
                </div>
            </div>
        </div>
        <hr />
    </div>
</section>

<section id="creator-posts">
    <div class="container">
        <div class="card-column d-flex flex-row flex-wrap justify-content-center align-items-top">
            {% for post in creator_profile.posts.all %}
            <div
                class="card m-4"
                style="max-width: 23.75rem"
                onclick="window.location='{{post.get_absolute_url}}'"
                role="button">
                <img
                    class="card-img-top"
                    src="{{post.featured_image}}"
                    alt="{{post.featured_image}}" />

                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>

                    <p class="card-text">{{post.excerpt}}</p>
                </div>

                <div class="card-footer">
                    <small class="text-muted d-block mb-2">{{creator_profile.user.username}} published on {{post.date_created}}</small>
                    {% for tag in post.tags.all %}
                    <a
                        class="badge text-bg-light border border-dark m-1"
                        href="{{tag.get_absolute_url}}">
                        #{{tag}}
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock body %}
