/*
************************************
BODY
************************************
*/
body {
    background-image: url('../../../assets/images/bg-noise.png');
    background-repeat: repeat;
    background-size: 8rem;
}

/*
************************************
LAYOUT
************************************
*/
.app {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;

    height: 100vh;

    overflow: hidden;
}

.app__container-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 3.2rem;

    height: 100%;

    min-width: 50rem;
    width: 100%;

    padding: 4.8rem 1.6rem 0 1.6rem;

    overflow-y: auto;
}

/*
************************************
SECTION MAIN
************************************
*/
.container-main {
    min-width: min-content;
    width: 100%;
    max-width: var(--max-width);

    margin-inline: auto;

    background-color: var(--color-light);

    border-radius: var(--border-radius);

    isolation: isolate;
}

.main__wrapper-header-main {
    width: 100%;

    margin-top: 0.8rem;
    padding: 1.6rem 3.2rem;

    background-color: var(--color-light-a-75);
    backdrop-filter: blur(2rem);

    border-bottom: var(--border-1-color-primary);

    position: sticky;
    top: -4.8rem;

    z-index: 9000;
}

.main__header-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
}
