.card-profile-detail {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 2.4rem;

    width: 100%;
    max-width: var(--max-content-width);
}

.card-profile-detail__img-container {
    flex-shrink: 0 17rem 0;
    width: 17rem;
    height: 17rem;

    border: var(--border-1-color-primary);
    border-radius: var(--border-radius);

    overflow: hidden;
}

.card-profile-detail__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 2.4rem;
}

.card-profile-detail__user-name-container {
    margin-bottom: 1.6rem;
}

a.card-profile-detail__user-name {
    margin-right: 1.6rem;
}

.card-profile-detail__user-description {
    width: 100%;
    max-width: 52ch;
}

.card-profile-detail__stats {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 0.8rem;
}

.card-profile-detail__stats-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    gap: 1.6rem;

    width: 100%;
    max-width: 32rem;
}

.list-card-action-follow {
    width: 48rem;
    height: 100%;

    overflow-y: auto;
}

.card-action-follow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-basis: 200px;

    padding: 1.6rem;

    border-bottom: var(--border-1-color-primary);
}
