.context-menu {
    background-color: var(--color-light);

    border: var(--border-1-color-primary);
    border-radius: var(--border-radius);

    position: absolute;
    inset: 4.8rem 0 auto auto;

    overflow: hidden;

    transform: translateY(-50%) scale(0);
    transform-origin: right;

    transition: transform 200ms ease-in-out;
}

.context-menu__list {
    list-style: none;
}

.context-menu__item:not(:last-child) {
    border-bottom: var(--border-1-color-primary);
}

.context-menu__item button,
.context-menu__item a:is(:link, :visited) {
    width: 100%;

    padding: 1.2rem 3.2rem;
    border-radius: 0;

    text-align: center;
}

.context-menu__item a:is(:hover, :active, :focus) {
    background-color: var(--color-dark-a-25);
}

.context-menu.is-active {
    transform: translateY(0%) scale(1);
}

.context-menu button {
    text-align: left;
}


