/*
************************************
SECTION HEADER
************************************
*/
.container-header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.6rem;

    min-width: min-content;
    width: 100%;
    max-width: 28rem;

    padding: 2.4rem 1.6rem;

    overflow-y: auto;

    background: var(--color-primary);

    color: var(--color-light);
}

.container-header::-webkit-scrollbar {
    width: 0.6rem;
}

.container-header::-webkit-scrollbar-track {
    background: var(--color-light);
    border-radius: 3.6rem;
}

.container-header::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 3.6rem;
}

.container-header::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-lighten-5);
}

.header__wrapper-list {
    width: 100%;
}

/*
************************************
LINK LIST
************************************
*/
.link-list {
    list-style: none;

    width: 100%;
}

.link-list__item {
    width: 100%;

    margin-bottom: 0.4rem;
}

.link-list__item {
    width: 100%;

    padding: 1.2rem 0.8rem;

    border: 0.1rem solid transparent;
    border-radius: var(--border-radius);
}

.link-list__item--active {
    color: var(--color-light);

    background-color: var(--color-primary-lighten-5);

    border: 0.1rem solid transparent;
}

.link-list__item:hover:not(:has(.container__brand)) {
    color: var(--color-light);

    background-color: var(--color-primary-lighten-5);

    border: 0.1rem solid var(--color-light);
}

a:is(:link, :visited).link-list__link {
    width: 100%;

    border: 0.1rem solid transparent;
}

a:is(:hover, :active, :focus).link-list__link {
    background-color: transparent;
}
