/*
************************************
SECTION HEADER
************************************
*/
.header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.6rem;

    min-width: min-content;
    width: 100%;
    max-width: 28rem;

    padding: 2.4rem 1.6rem;

    overflow-y: auto;

    background: var(--color-primary);

    color: var(--color-light);
}

.header__container {
    width: 100%;
}

/*
************************************
LINK LIST
************************************
*/
.nav {
    width: 100%;
}

.nav__list {
    list-style: none;

    width: 100%;
}

.nav__item {
    width: 100%;

    margin-bottom: 0.4rem;
    padding: 1.2rem 0.8rem;

    border: 0.1rem solid transparent;
    border-radius: var(--border-radius);
}

.nav__item--isActive {
    color: var(--color-light);

    background-color: var(--color-primary-lighten-25);

    border: 0.1rem solid transparent;
}

.nav__item:hover:not(:has(.brand)) {
    color: var(--color-light);

    background-color: var(--color-primary-lighten-5);

    border: 0.1rem solid var(--color-light);
}

.nav__item a.link {
    width: 100%;
}

.nav__item > button.button {
    width: 100%;

    color: #fff;

    background: transparent;

    text-align: left;
}

#modal-window-search {
    height: min-content;
}

.search-container {
    padding: 2.4rem 3.2rem;
    width: 40rem;
}
