{% load static %}
<header class="header">
    <div class="header__content">
        <ul class="link-list">
            <li class="link-list__item">
                <a
                    href="{% url 'app:private-index' %}"
                    class="brand mb-24">
                    StoryShare
                </a>
            </li>
            <li class="link-list__item">
                <a
                    href="{% url 'app:private-index' %}"
                    class="link-list__link">
                    <svg class="icon icon-24 icon-text-right">
                        <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-home"></use>
                    </svg>
                    <span>Home</span>
                </a>
            </li>
            <li class="link-list__item">
                <a
                    href="/"
                    class="link-list__link">
                    <svg class="icon icon-24 icon-text-right">
                        <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-search"></use>
                    </svg>
                    <span>Search</span>
                </a>
            </li>
            <li class="link-list__item">
                <a
                    href="{% url 'app:private-explore' %}"
                    class="link-list__link">
                    <svg class="icon icon-24 icon-text-right">
                        <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-compass"></use>
                    </svg>
                    <span>Explore</span>
                </a>
            </li>
            <li class="link-list__item">
                <a
                    href="/"
                    class="link-list__link">
                    <svg class="icon icon-24 icon-text-right">
                        <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-plus-circle"></use>
                    </svg>
                    <span>Create</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="header__content">
        <ul class="link-list">
            <li class="link-list__item link-list__item--profile">
                {% include 'app/includes/profile/card-user.html' with User=user%}
            </li>
            <li class="link-list__item">
                <a
                    href="/"
                    class="link-list__link">
                    <svg class="icon icon-24 icon-text-right">
                        <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-settings"></use>
                    </svg>
                    <span>Settings</span>
                </a>
            </li>

            <li class="link-list__item">
                <a
                    href="{% url 'app:private-sign-out' %}"
                    class="link-list__link">
                    <svg class="icon icon-24 icon-text-right">
                        <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-sign-out"></use>
                    </svg>
                    <span>Sign out</span>
                </a>
            </li>
        </ul>
    </div>
</header>
