{% extends 'app/base/private/base.html' %}
{% load static %}

{% block title %}
    Explore
{% endblock title %}

{% block head %}

    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'app/pages/private/ExplorePostListView/style.css' %}" />

    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'app/includes/member/post/post_list/style.css' %}" />

{% endblock head %}

{% block body %}

    {% block main_header %}

        {% include 'app/includes/misc/header-main_icon-title.html' with icon="compass" title="For you" %}

    {% endblock main_header %}

    {% block main_content %}

        <section class="section-post-list">
            {% include 'app/includes/member/post/post_list.html' %}
        </section>

    {% endblock main_content %}

{% endblock body %}