{% extends 'app/base/private/base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block head %}
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'app/includes/post/post_list/post_list.css' %}" />

    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'app/pages/private/index/index.css' %}" />
{% endblock head %}

{% block body %}

    {% block main_header %}

        {% include 'app/includes/component/icon-title.html' with title="Home" icon="home" %}

    {% endblock main_header %}

    {% block main_content %}

        <div class="post-list">
            {% include 'app/includes/post/post_list.html' %}
        </div>

    {% endblock main_content %}

{% endblock body %}
