{% extends 'app/base/private/base.html' %}
{% load static %}

{% block title %}
Story • {{ member.first_name }} {{ member.last_name }} (@{{ member.username }})
{% endblock title %}

{% block head %}
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'app/pages/private/post/post.css' %}" />

    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'app/includes/user/post/post_detail/post_detail.css' %}" />

    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'app/includes/user/profile/profile_detail.css' %}" />

        <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'app/includes/misc/modal/modal_actions/modal_actions.css' %}" />

    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'app/includes/misc/modal/modal_window/modal_window.css' %}" />
{% endblock head %}

{% block body %}

    {% block main_header %}

        {% include 'app/includes/user/actions/action_follow.html' %}

    {% endblock main_header %}

    {% block main_content %}

        <div class="profile-detail">
            {% include 'app/includes/user/profile/profile_detail.html' with user=member %}
        </div>

        {% include 'app/includes/user/post/post_detail.html' %}

    {% endblock main_content %}

    {% block script %}
        <script src="{% static 'app/includes/misc/modal/modal_actions/modal_actions.js' %}"></script>
        <script src="{% static 'app/includes/misc/modal/modal_window/modal_window.js' %}"></script>
    {% endblock script %}

{% endblock body %}
