{% extends 'app/base/private/base.html' %}
{% load static %}

{% block title %}

    Create a new story

{% endblock title %}

{% block head %}

    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'app/pages/private/PostCreateView/style.css' %}" />

{% endblock head %}

{% block body %}

    {% block main_header %}

        {% include 'app/includes/misc/main__header-title.html' with icon="plus-circle" title="Create a new story" %}

    {% endblock main_header %}

    {% block main_content %}

        <div class="form">
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit">
            </form>

        </div>

    {% endblock main_content %}

    {% block script %}

    {% endblock script %}

{% endblock body %}
