{% extends 'app/base/private/base.html' %}
{% load static %}

{% block title %}

    Search Results

{% endblock title %}

{% block head %}

    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'app/pages/private/SearchListView/style.css' %}" />

{% endblock head %}

{% block body %}

    {% block main_header %}

        {% include 'app/includes/misc/header_title.html' with icon='search' title=title %}

    {% endblock main_header %}

    {% block main_content %}

        <div class="search-results-container">

            {% for member in members.all %}
                {% include 'app/includes/member/profile/misc/card_member.html' %}
            {% endfor %}
            {% include 'app/includes/misc/pagination.html' %}
        </div>

    {% endblock main_content %}

{% endblock body %}