{% extends 'app/base/private/base.html' %}
{% load static %}

{% block title %}
    Story • Tag {{ tag }}
{% endblock title %}

{% block head %}
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'app/pages/private/home/home.css' %}" />

    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'app/includes/user/post/post_list/post_list.css' %}" />
{% endblock head %}

{% block body %}

    {% block main_header %}

        {% include 'app/includes/misc/title/title_with_icon.html' with title=tag icon="hash" %}

    {% endblock main_header %}

    {% block main_content %}

        <div class="post-list">
            {% include 'app/includes/user/post/post_list.html' %}
        </div>

    {% endblock main_content %}

{% endblock body %}
