{% load static %}
<header class="container-header">
    <div class="header__wrapper-list">
        <ul class="link-list">
            <li class="link-list__item">
                <div class="container__brand">
                    <a
                        href="{% url 'app:home-post-list-view' %}"
                        class="brand__link mb-24 link">
                        StoryShare
                    </a>
                </div>
            </li>
            <li class="link-list__item">
                <a
                    href="{% url 'app:home-post-list-view' %}"
                    class="link-list__link link">
                    <svg class="icon icon-24 icon-text-right">
                        <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-home"></use>
                    </svg>
                    <span>Following</span>
                </a>
            </li>
            <li class="link-list__item">
                <a
                href="{% url 'app:explore-post-list-view' %}"
                class="link-list__link link">
                <svg class="icon icon-24 icon-text-right">
                    <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-compass"></use>
                </svg>
                <span>For you</span>
            </a>
            </li>
            <li class="link-list__item">
                <a
                    href="/"
                    class="link-list__link link">
                    <svg class="icon icon-24 icon-text-right">
                        <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-search"></use>
                    </svg>
                    <span>Search</span>
                </a>
            </li>
            <li class="link-list__item">
                <a
                    href="/"
                    class="link-list__link link">
                    <svg class="icon icon-24 icon-text-right">
                        <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-plus-circle"></use>
                    </svg>
                    <span>Create</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="header__wrapper-list">
        <ul class="link-list">
            <li class="link-list__item link-list__item--profile link">
                {% include 'app/includes/member/profile/misc/card_member.html' with member=user%}
            </li>
            <li class="link-list__item">
                <a
                    href="{% url 'app:profile-update-view' slug=request.user.profile.slug %}"
                    class="link-list__link link">
                    <svg class="icon icon-24 icon-text-right">
                        <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-settings"></use>
                    </svg>
                    <span>Settings</span>
                </a>
            </li>

            <li class="link-list__item">
                <a
                    href="{% url 'app:sign-out' %}"
                    class="link-list__link link">
                    <svg class="icon icon-24 icon-text-right">
                        <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-sign-out"></use>
                    </svg>
                    <span>Sign out</span>
                </a>
            </li>
        </ul>
    </div>
</header>
