{% load static %}
<section class="user-profile-detail">
    <div class="user-profile-detail__section-container">
            
            <div class="user-profile-detail__profile-image">

                <img
                class="img"
                src="{{ member.profile.profile_image }}"
                alt="{{ member.first_name }} {{ member.last_name }}" />

        </div>
        
        <div class="user-profile-detail__content-container">
            
            <div class="user-profile-detail__user-name">

                <a
                href="{{ member.profile.get_absolute_url }}" 
                class="link link--text">
                
                    <span class="heading-3">{{ member.first_name }} {{ member.last_name }}</span>
                    
                </a>
                
                {% if is_user %}
                    <button
                    data-modal-window-target="#modal-window-user-profile-form"
                    class="button button--small button--primary">
                    Edit
                    </button>
                {% endif %}
            
        </div>

        <p class="user-profile-detail__user-description text-large">
            {{ member.profile.description }}
            </p>
            
            
            <div class="user-profile-detail__user-statistics">
                
                <span class="text-chip">
                    {{ member.profile.posts.all | length }} Posts
                </span>
                
                <button
                    type="button"
                    class="button button--neutral button--small"
                    data-modal-window-target="#modal-window-followers">
                    {{ member.profile.followers.all | length }} Followers
                </button>
                
                <button
                type="button"
                class="button button--neutral button--small"
                data-modal-window-target="#modal-window-following">
                {{ member.profile.following.all | length }} Following
                </button>

            </div>

        </div>

    {% include 'app/includes/layout/modals/modal_window/_modal_window_followers.html' %}

    {% include 'app/includes/layout/modals/modal_window/_modal_window_following.html' %}

    {% with form=user_profile_form %}
        {% include 'app/includes/layout/modals/modal_window/_modal_window_user_profile_form.html' %}
    {% endwith %}

    </div>
</section>