{% extends 'app/components/base.html' %}
{% block title%}Index{% endblock title%}

{% block body %}
<section
	id="post"
	class="mb-5">
	<div class="container">
		<div
			class="p-5 mb-5 text-center bg-image rounded-5"
			style="
    background-image: url('{{post.featured_image}}');
    height: 400px;
  ">
			<div
				class="p-5 rounded-5"
				style="background-color: rgba(255, 255, 255, 0.9)">
				<div class="d-flex justify-content-center align-items-center h-100">
					<div class="text-dark">
						<h1 class="mb-5 d-block">{{post.title}}</h1>
						<p class="font-italic">
							Published by
							<a href="{{post.creator_profile.get_absolute_url}}">{{post.creator_profile.user.first_name}} {{post.creator_profile.user.last_name}}</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<p>{{post.content}}</p>
		<div class="mt-5 card-footer">
			<small class="text-muted d-block mb-2">{{post.creator_profile.user.username}} published on {{post.date_created}}</small>
			{% for tag in post.tags.all %}
			<a
				class="badge text-bg-light border border-dark m-1"
				href="{{tag.get_absolute_url}}">
				#{{tag}}
			</a>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock body %}
