/*
************************************
BODY
************************************
*/
body {
    background-image: url('../../assets/images/bg-noise.png');
    background-repeat: repeat;
    background-size: 8rem;
}

/*
************************************
GENERAL @OVERRIDE
************************************
*/
.section {
    padding: 4.8rem 2.4rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;

    width: 100%;
    max-width: 128rem;

    margin-inline: auto;
}

/*
************************************
HEADER 
************************************
*/
.header {
    width: 100%;

    padding: 0 1.6rem 0 1.6rem;

    background-color: transparent;
    backdrop-filter: blur(2rem);

    color: var(--color-light);

    position: fixed;
    z-index: 999;
}

.header__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 3.6rem;

    width: 100%;
    max-width: 128rem;

    padding: 1.6rem 2.4rem;
    margin-inline: auto;
}

.nav__list {
    list-style: none;
}

.nav__item {
    display: inline-block;
    margin: 0 0.4rem;
}

.nav__item:first-child {
    margin-left: 0;
}

.nav__item:last-child {
    margin-right: 0;
}

/* HEADER MEDIA QUERIES */
@media (width <= 35rem) {
    .header {
        bottom: 0;
        left: 0;
    }

    .header__container {
        justify-content: center;
        flex-wrap: wrap-reverse;

        gap: 1.6rem;

        padding: 2rem 2.4rem;
    }
}

/*
************************************
SECTION HERO
************************************
*/
.section__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 72rem;
    height: 100%;
    max-height: 72rem;
    
    background-image: linear-gradient(to bottom, rgba(15, 24, 37, 1) 0%, rgba(15, 24, 37, 0.75) 50%, rgba(15, 24, 37, 1) 100%), url('./assets/images/bg-hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--color-light);
    text-align: center;
}

.hero-title {
    max-width: 35ch;
}

/*
************************************
SECTION ARTICLES
************************************
*/

/*
************************************
FOOTER
************************************
*/
.footer {
    padding: 4.8rem 1.6rem;

    text-align: center;
}
