.section {
    background-color: var(--color-primary);
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3.6rem;

    height: 100vh;
    width: 100%;
    max-width: 192rem;

    margin-inline: auto;
    padding: 6.4rem;

    isolation: isolate;
}

/* CONTAINER FORM */
.container__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

.container__form__box {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 48rem;

    padding: 5.6rem 5.6rem 4.2rem 5.6rem;
}

.container__form__box p {
    text-align: center;
}

.container__form__box hr {
    width: 50%;

    margin-top: 2.4rem;
}

.container__form__box:last-child {
    padding: 2.8rem;
}

/* CONTAINER FLASH */
.bg--flash {
    background: rgba(255, 255, 255, 0.5);

    border: 0.1rem solid #fff;
    border-radius: var(--border-radius);

    position: relative;
}

.bg--flash::before {
    content: '';

    width: 100%;
    height: 100%;

    background-image: var(--color-radial-gradient);

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;

    transform: translate(-50%, -50%) rotate(16deg);
    transform-origin: center;
    filter: blur(10rem);
}

/* MEDIA QUERIES */
@media (width <= 70.6875rem) {
    .container {
        flex-flow: column nowrap;
        justify-content: flex-start;
        padding: 4rem 1.6rem;
    }

    .container__form__box {
        padding: 2.4rem;
    }
}
