.profile {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;

    padding: 4.8rem 3.2rem;
    border-bottom: var(--border-1-color-primary);
}

.posts {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 3.6rem;

    padding: 3.2rem 3.2rem 7.2rem 3.2rem;
    margin-inline: auto;

    min-width: min-content;
    width: 100%;
    max-width: var(--max-width);
}