{% extends 'app/pages/public/base/base.html' %}
{% load static %}

{% block title %}Sign up{% endblock title %}

{% block head %}
    <!-- PAGE CSS -->
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'app/pages/public/user_auth/sign_up/style.css' %}" />
    
    <!-- INCLUDES CSS -->
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'app/includes/forms/base/style.css' %}" />
{% endblock head %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="container__form">
            <div class="container__form__box bg--flash">
                <div class="brand mb-16">
                    <a href="{% url 'app:index-template-view' %}" class="brand__link link">StoryShare</a>
                </div>
                <p class="text-l">Sign up to share your words of wisdom, lessons learned and advice with people around the world.</p>
                <hr class="mb-24">
                {% include 'app/includes/forms/_custom_user_creation_form.html' %}
            </div>
            <div class="container__form__box bg--flash">
                <span>
                    Already have an account?
                    <a href="{% url 'app:sign-in' %}" class="link link--text">Sign in</a>
                </span>
            </div>
        </div>
    </div>
</section>
{% endblock body %}
