{% extends 'app/pages/public/base/base.html' %}
{% load static %}

{% block title %}Sign in{% endblock title %}

{% block head %}
    <!-- PAGE CSS -->
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'app/pages/public/user_auth/sign_in/style.css' %}" />

    <!-- INCLUDES CSS -->
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'app/includes/forms/base/style.css' %}" />
{% endblock head %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="container__hero">
            <div class="brand mb-16">
                <a href="{% url 'app:index-template-view' %}" class="brand__link link">StoryShare</a>
            </div>
            <p class="text-l">Share your words of wisdom, lessons learned and advice with people around the world.</p>
        </div>
        <div class="container__form">
            <div class="container__form__box bg--flash">
                {% include 'app/includes/forms/_custom_authentication_form.html' %}
            </div>
            <div class="container__form__box bg--flash">
                <span>
                    Don't have an account?
                    <a href="{% url 'app:sign-up' %}" class="link link--text">Sign up</a>
                </span>
            </div>
        </div>
    </div>
</section>
{% endblock body %}
