{% load static %}
<header class="header">
    <div class="header__container">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <div class="brand">
                        <a
                            href="{% url 'app:for-you-post-list-view' %}"
                            class="brand__link mb-24 link">
                            StoryShare
                        </a>
                    </div>
                </li>

                <li class="nav__item">
                    <a
                        href="{% url 'app:for-you-post-list-view' %}"
                        class="link">
                        <svg class="icon icon-24 icon-text-right">
                            <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-home"></use>
                        </svg>
                        <span>For You</span>
                    </a>
                </li>

                <li class="nav__item">
                    <a
                        href="{% url 'app:following-post-list-view' %}"
                        class="link">
                        <svg class="icon icon-24 icon-text-right">
                            <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-heart"></use>
                        </svg>
                        <span>Following</span>
                    </a>
                </li>

                <li class="nav__item">
                    <button
                        type="button"
                        class="button"
                        data-modal-window-target="#modal-window-search">
                        <svg class="icon icon-24 icon-text-right">
                            <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-search"></use>
                        </svg>
                        <span>Search</span>
                    </button>

                    <div
                        class="modal-window"
                        id="modal-window-search">
                        <div class="modal-window__header">
                            <span class="heading-3">Search members</span>

                            <button
                                type="button"
                                class="button button--small button--invisible-danger"
                                data-button-close>
                                <svg class="icon icon-24">
                                    <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-x-circle"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="search-container">
                            <form
                                action="{% url 'app:search-results-user-list-view' %}"
                                method="GET"
                                class="form">
                                <div class="form__field">
                                    <input
                                        type="search"
                                        name="q"
                                        class="form__input" />
                                </div>
                                <div class="form__field">
                                    <button
                                        type="submit"
                                        class="button button--accent"
                                        data-modal-window-target="#modal-window-search">
                                        <svg class="icon icon-32">
                                            <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-search"></use>
                                        </svg>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>

                <li class="nav__item">
                    <a
                        href="{% url 'app:post-create-view' %}"
                        class="link">
                        <svg class="icon icon-24 icon-text-right">
                            <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-plus-circle"></use>
                        </svg>
                        <span>Create</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="header__container">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item nav__item--profile link">{% include 'app/includes/user_profile/_card_user.html' with member=user%}</li>

                <li class="nav__item">
                    <a
                        href="{% url 'app:user-update-view' pk=request.user.pk %}"
                        class="link">
                        <svg class="icon icon-24 icon-text-right">
                            <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-settings"></use>
                        </svg>
                        <span>Settings</span>
                    </a>
                </li>

                <li class="nav__item">
                    <a
                        href="{% url 'app:sign-out' %}"
                        class="link">
                        <svg class="icon icon-24 icon-text-right">
                            <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-sign-out"></use>
                        </svg>
                        <span>Sign out</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
