.profile-detail {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 2.4rem;

    width: 100%;
    max-width: var(--max-content-width);
}

.profile-detail__profile-image {
    flex-shrink: 0 17rem 0;
    width: 17rem;
    height: 17rem;

    border: var(--border-1-color-primary);
    border-radius: var(--border-radius);

    overflow: hidden;
}

.profile-detail__profile-details {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.profile-detail__member-name {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    gap: 1.6rem;

    margin-bottom: 0.8rem;
}



.profile-detail__member-description {
    width: 100%;
    max-width: 52ch;

    margin-bottom: 2.4rem;
}

.profile-detail__member-stats {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 0.8rem;
}



.member-follow-list {
    width: 48rem;

    min-height: max-content;
    height: 100%;
    max-height: 70rem;

    overflow-y: auto;
}

.member-follow-list .member-follow {
    padding: 1.6rem;
    border-bottom: var(--border-1-color-primary);
}
