.search-results-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding-bottom: 0.8rem;
}

.search-results-container .pagination {
    align-self: center;

    margin: 2.4rem 0;
}

.search-results-container .card-user a {
    padding: 1.6rem 3.2rem;

    border-bottom: var(--border-1-color-primary);
}

.search-results-container .card-user:is(:hover) {
    background-color: var(--color-accent);
}
