/* HEADINGS */
.heading-1 {
    font-family: 'Space Grotesk', serif;
    font-weight: 700;
    font-size: 4.209rem;
    line-height: 1em;
}

.heading-2 {
    font-family: 'Space Grotesk', serif;
    font-weight: 700;
    font-size: 3.157rem;
    line-height: 1.125em;
}

.heading-3 {
    font-family: 'Space Grotesk', serif;
    font-weight: 700;
    font-size: 2.369rem;
    line-height: 1.25em;
}

.heading-4 {
    font-family: 'Space Grotesk', serif;
    font-weight: 700;
    font-size: 1.777rem;
    line-height: 1.25em;
}

.heading-5 {
    font-family: 'Space Grotesk', serif;
    font-weight: 700;
    font-size: 1.333rem;
    line-height: 1.5em;
}

.heading-6 {
    font-family: 'Space Grotesk', serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5em;
}

/* TEXT */
.text-l {
    font-size: 1.8rem;
}

.text-s {
    font-size: 1.4rem;
}

.text-xs {
    font-size: 1.2rem;
}

/* LINK INLINE */
a:link,
a:visited {
    display: inline-block;

    padding: 0 0.4rem;

    border-bottom: 0.2rem solid var(--color-primary);

    font-weight: bold;

    text-decoration: none;

    color: var(--color-primary);
}

a:hover,
a:active {
    color: var(--color-primary);
    background-color: var(--color-accent-lighten-40);
}

/* LINK BRAND */
.brand {
    font-family: 'Space Grotesk', serif;
    font-weight: 700;
    font-size: 2.369rem;
    line-height: 1.25em;
}

a:link.brand,
a:visited.brand {
    color: inherit;
    border-bottom: 0.2rem solid transparent;
}

a:hover.brand,
a:active.brand {
    color: var(--color-primary);
    border-bottom: 0.2rem solid var(--color-primary);
}

/* BUTTON DEFAULT */
a:link.btn,
a:visited.btn {
    padding: 1.6rem 2.4rem;

    border: 0.1rem solid var(--color-primary);
    border-radius: var(--border-radius);

    background-color: var(--color-primary);
    color: var(--color-light);

    cursor: pointer;

    font-family: inherit;
    font-size: 1.6rem;
    font-weight: bold;
}

a.btn:hover,
a.btn:active {
    background-color: var(--color-primary-lighten-5);
}

/* BUTTON ACCENT */
a:link.btn--accent,
a:visited.btn--accent {
    border: 0.1rem solid var(--color-accent);
    background-color: var(--color-accent);
    color: var(--color-primary);
}

a:hover.btn--accent,
a:active.btn--accent {
    background-color: var(--color-accent-lighten-40);
}

/* BUTTON ROUND */
a:link.btn--round,
a:visited.btn--round {
    border-radius: 4rem;
}
