/*
************************************
HEADINGS 
************************************
*/
.heading-1 {
    font-family: 'Space Grotesk', serif;
    font-weight: 700;
    font-size: 4.209rem;
    line-height: 1em;
}

.heading-2 {
    font-family: 'Space Grotesk', serif;
    font-weight: 700;
    font-size: 3.157rem;
    line-height: 1.125em;
}

.heading-3 {
    font-family: 'Space Grotesk', serif;
    font-weight: 700;
    font-size: 2.369rem;
    line-height: 1.25em;
}

.heading-4 {
    font-family: 'Space Grotesk', serif;
    font-weight: 700;
    font-size: 1.777rem;
    line-height: 1.25em;
}

.heading-5 {
    font-family: 'Space Grotesk', serif;
    font-weight: 700;
    font-size: 1.333rem;
    line-height: 1.5em;
}

.heading-6 {
    font-family: 'Space Grotesk', serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5em;
}

/*
************************************
BODY TEXT
************************************
*/
.text-l {
    font-size: 1.8rem;
    line-height: 1.75;
}

.text-s {
    font-size: 1.4rem;
    line-height: 1.5;
}

.text-xs {
    font-size: 1.2rem;
    line-height: 1.5;
}

/*
************************************
LINKS
************************************
*/
a:is(:link, :visited) {
    display: inline-block;

    padding: 0 0.4rem;

    border-bottom: 0.1rem solid var(--color-primary);

    font-weight: bold;

    text-decoration: none;

    white-space: nowrap;

    color: inherit;
}

a:is(:hover, :active, :focus) {
    color: inherit;

    background-color: var(--color-accent-lighten-40);
}

/*
************************************
BUTTONS
************************************
*/
a:is(:link, :visited).btn {
    padding: 1.6rem 2.4rem;

    border: 0.1rem solid var(--color-primary);
    border-radius: var(--border-radius);

    background-color: var(--color-primary);
    color: var(--color-light);

    cursor: pointer;

    font-family: inherit;
    font-size: 1.6rem;
    font-weight: bold;
}

a:is(:hover, :active, :focus).btn {
    background-color: var(--color-primary-lighten-5);
}

/* BUTTON ACCENT */
a:is(:link, :visited).btn--accent {
    border: 0.1rem solid var(--color-accent);
    background-color: var(--color-accent);
    color: var(--color-primary);
}

a:is(:hover, :active, :focus).btn--accent {
    background-color: var(--color-accent-lighten-40);
}

/* BUTTON ROUND */
a:is(:link, :visited).btn--round {
    border-radius: 4rem;
}

/*
************************************
BRAND
************************************
*/
.brand {
    font-family: 'Space Grotesk', serif;
    font-weight: 700;
    font-size: 2.369rem;
    line-height: 1.25em;
}

a:is(:link, :visited).brand {
    border-bottom: 0.1rem solid transparent;
}

a:is(:hover, :active, :focus).brand {
    color: var(--color-primary);
    border-bottom: 0.1rem solid var(--color-primary);
}

/*
************************************
ICONS
************************************
*/
.icon {
    display: inline-block;

    vertical-align: top;

    fill: currentColor;
}

.icon-24 {
    width: 2.4rem;
    height: 2.4rem;
}

.icon-32 {
    width: 3.2rem;
    height: 3.2rem;
}

.icon-text-right {
    margin-right: 0.8rem;
}
