<div class="container-action-follow">

    {% include 'app/includes/member/profile/misc/card_member.html' %}

    {% if member.profile in user.profile.following.all %}
        <button type="button" class="button button--danger button--small" {% if user == member %}disabled{% endif %}>
            Unfollow
        </button>
    {% else %}
        <button type="button" class="button button--accent button--small" {% if user == member %}disabled{% endif %}>
            Follow
        </button>
    {% endif %}

</div>
