<div class="member-follow">

    {% include 'app/includes/member/profile/misc/card_member.html' %}

    {% if member.profile in user.profile.following.all %}
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="formMemberFollow-member_profile_ID" value={{ member.profile.pk }}>
            <button type="submit" name="formMemberFollow-submit" value="unfollow" class="button button--small button--neutral" {% if user == member %}disabled{% endif %}>
                Unfollow
            </button>
        </form>
        {% else %}
        <form method="POST">
            {% csrf_token %}    
            <input type="hidden" name="formMemberFollow-member_profile_ID" value={{ member.profile.pk }}>
            <button type="submit" name="formMemberFollow-submit" value="follow" class="button button--small button--accent" {% if user == member %}disabled{% endif %}>
                Follow
            </button>
        </form>
    {% endif %}

</div>
