<div
    class="form__container"
    id="form-sign-in">
    <span class="form__heading">Sign in</span>
    <form
        method="POST"
        class="form">
        {% csrf_token %}
        <div class="form__field">
            <label
                for="username"
                class="form__label">
                Username
            </label>
            <input
                type="text"
                name="username"
                id="username"
                class="form__input" />
        </div>
        <div class="form__field">
            <label
                for="password"
                class="form__label">
                Password
            </label>
            <input
                type="password"
                name="password"
                id="password"
                class="form__input" />
        </div>
        <div class="form__field">
            {% include 'app/includes/member/form/form_feedback/form_messages.html' %}
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="form__field">
            <input
                type="submit"
                value="Sign in"
                name="sign-in"
                class="form__button" />
        </div>
    </form>
    <div class="form__content">
        <div class="form__content__container">
            Don't remember password? 
            <a
                href="#"
                id="js-btn-forgot-password"
                class="link link--text">
                Reset password
            </a>
        </div>
    </div>
</div>
