{% load static %}

<div class="profile-detail">

    <div class="profile-detail__profile-image">

        <img
            class="img"
            src="{{ member.profile.profile_image }}"
            alt="{{ member.first_name }} {{ member.last_name }}" />

    </div>

    <div class="profile-detail__profile-details">
    
        <div class="profile-detail__member-name">

            <a
                href="{{ member.profile.get_absolute_url }}" 
                class="profile-detail__member-name__link link link--text">
        
                <span class="heading-3">{{ member.first_name }} {{ member.last_name }}</span>

            </a>

            {% if has_perms %}
    
                <button
                    data-modal-window-target="#modal-window-user-profile-form"
                    class="button button--small button--primary">
                    Edit
                </button>

            {% endif %}

        </div>

        <p class="profile-detail__member-description text-large">
            {{ member.profile.description }}
        </p>


        <div class="profile-detail__member-stats">

            <span class="text-chip">
                {{ member.profile.posts.all | length }} Posts
            </span>

            <button
                type="button"
                class="button button--neutral button--small"
                data-modal-window-target="#modal-window-followers">
                {{ member.profile.followers.all | length }} Followers
            </button>

            <button
                type="button"
                class="button button--neutral button--small"
                data-modal-window-target="#modal-window-following">
                {{ member.profile.following.all | length }} Following
            </button>

        </div>

    </div>

            <div class="modal-window" id="modal-window-followers">

                <div class="modal-window__header">

                    <span class="heading-3">Followers</span>

                    <button type="button" class="button button--small button--invisible-danger" data-button-close>
                        <svg class="icon icon-24">
                            <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-x-circle"></use>
                        </svg>
                    </button>

                </div>
                
                <div class="modal-window__content">

                    {% for follower in member.profile.followers.all %}

                        {% include 'app/includes/member/profile/misc/member_follow.html' with member=follower.user %}

                    {% endfor %}
                    
                </div>

            </div>

            <div class="modal-window" id="modal-window-following">

                <div class="modal-window__header">

                    <span class="heading-3">Following</span>

                    <button type="button" class="button button--small button--invisible-danger" data-button-close>
                        <svg class="icon icon-24">
                            <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-x-circle"></use>
                        </svg>
                    </button>

                </div>
                
                <div class="modal-window__content">

                    {% for following in member.profile.following.all %}

                        {% include 'app/includes/member/profile/misc/member_follow.html' with member=following.user %}

                    {% endfor %}
                    
                </div>

            </div>

            <div class="modal-window" id="modal-window-user-profile-form">
                <div class="modal-window__header">
                    <span class="heading-3">Edit profile</span>
                    <button type="button" class="button button--small button--invisible-danger" data-button-close>
                        <svg class="icon icon-24">
                            <use xlink:href="{% static 'app/assets/icons/sprite.svg' %}#icon-x-circle"></use>
                        </svg>
                    </button>
                </div>

                <div class="modal-window__content">
                    {% with form=UserProfileForm form_submit_value='Update profile' %}
                        {% include 'app/includes/member/form/form.html' %}
                    {% endwith %}
                </div>
            </div>

</div>
