/*
************************************
MARGINS
************************************
*/
/* MARGINS TOP & BOTTOM */

.my-32 {
    margin: 3.2rem 0;
}

/* MARGINS BOTTOM */
.mb-64 {
    margin-bottom: 6.4rem;
}

.mb-32 {
    margin-bottom: 3.2rem;
}

.mb-24 {
    margin-bottom: 2.4rem;
}

.mb-16 {
    margin-bottom: 1.6rem;
}

.mb-8 {
    margin-bottom: 0.8rem;
}

/*
************************************
PADDINGS
************************************
*/

/*
************************************
IMAGE
************************************
*/
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*
************************************
BORDERS
************************************
*/

.border-b1 {
    border-bottom: 0.1rem solid var(--color-primary);
}

.border-t1 {
    border-top: 0.1rem solid var(--color-primary);
}

.border-r1 {
    border-right: 0.1rem solid var(--color-primary);
}

.border-l1 {
    border-left: 0.1rem solid var(--color-primary);
}

/*
************************************
LAYOUT
************************************
*/
