:root {
    /* COLORS */
    --color-primary: #0f1825;
    --color-primary-lighten-5: #162335;
    --color-primary-lighten-25: #304d76;

    --color-accent: #befa2e;
    --color-accent-lighten-40: #d8fc82;

    --color-dark: #000;
    --color-dark-a-75: rgba(0, 0, 0, 0.75);
    --color-dark-a-25: rgba(0, 0, 0, 0.25);
    --color-dark-a-10: rgba(0, 0, 0, 0.1);

    --color-light: #fff;
    --color-light-a-25: rgba(255, 255, 255, 0.25);
    --color-light-a-75: rgba(255, 255, 255, 0.75);

    --color-red: #f05423;
    --color-red-lighten-85: #fde5de;

    --color-green: #76874d;
    --color-green-lighten-85: #f1f3eb;

    --color-blue: #354588;
    --color-blue-lighten-85: #dce0f1;

    --color-yellow: #a48303;
    --color-yellow-lighten-85: #fbfbd9;

    /* GRADIENTS */
    --color-radial-gradient: radial-gradient(circle at top left, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);

    /* BORDER */
    --border-radius: 0.8rem;
    --border-1-color-transparent: 0.1rem solid transparent;
    --border-1-color-primary: 0.1rem solid var(--color-primary);
    --border-1-color-light: 0.1rem solid var(--color-light);
    --border-1-color-red: 0.1rem solid var(--color-red);

    /* WIDTH */
    --max-content-width: 96rem;
    --max-width: 120rem;
}
