.card-post {
    min-width: min-content;
    width: 100%;
}

.card-post__wrapper-featured-image {
    width: 100%;

    height: 100%;
    max-height: 60rem;

    border-bottom: var(--border-1-color-primary);

    overflow: hidden;
}

.featured-image__figcaption {
    margin-top: 0.8rem;

    text-align: center;
    font-style: italic;
}

.featured-image__figcaption::before {
    content: 'Caption: ';

    font-weight: 700;
}

.card-post__content {
    min-width: min-content;
    width: 100%;
    max-width: var(--max-content-width);

    padding: 7.2rem 3.2rem;

    margin-inline: auto;
}

.card-post__title {
    margin-bottom: 0.8rem;
}

.card-post__date {
    display: inline-block;

    margin-bottom: 2.4rem;

    color: var(--color-dark-a-75);
}

.card-post__post-content {
    margin-bottom: 7.2rem;
}

.card-post__container-tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.8rem;

    padding: 3.2rem;

    border-top: var(--border-1-color-primary);
}
