.section-post {
    min-width: min-content;
    width: 100%;
}

.post__context-menu {
    text-align: right;
    padding: 2rem 3.2rem;

    position: relative;
}

.post__context-menu .context-menu {
    inset: 6.8rem 3rem auto auto;
}

.post__wrapper-featured-image {
    width: 100%;

    height: 100%;
    max-height: 60rem;

    border-bottom: var(--border-1-color-primary);

    overflow: hidden;
}

.post__featured-image-figcaption {
    margin-top: 0.8rem;

    text-align: center;
    font-style: italic;
}

.post__featured-image-figcaption::before {
    content: 'Caption: ';

    font-weight: 700;
}

.post__container {
    min-width: min-content;
    width: 100%;
    max-width: var(--max-content-width);

    padding: 7.2rem 3.2rem;

    margin-inline: auto;
}

.post__title {
    margin-bottom: 0.8rem;
}

.post__date {
    display: inline-block;

    margin-bottom: 2.4rem;

    color: var(--color-dark-a-75);
}

.post__content {
    margin-bottom: 7.2rem;
}

.post__tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.8rem;

    padding: 3.2rem;

    border-top: var(--border-1-color-primary);
}
